body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
:root{
  --main-color: #202f5b;
}
:root{
  --black-color: #000;
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--main-color);
}
ul, ol{
  padding: 0;
  margin: 0;
}
.color-black{
  color: var(--black-color);
}
.color-main{
  color: var(--main-color);
}
.btn:focus{
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 0%);
}
.bg-gradinat{
  background-color: rgba(10.20%, 9.80%, 9.80%, 1.00);
}
.footer-bg{
  background-color: #eff2f9;
}
.footer-heading-title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-links{
  list-style-type: none;
}
.footer-links li{
  list-style-type: none;
  margin-bottom: 10px;
  color: #fff;
}
.footer-links li a{
  color: #fff;
  color: var(--black-color);
}
.footer-links li a:hover{
  color: var(--main-color);
}
.br-12{
  border-radius: 12px;
}